<div class="active-buyers">

    <div class="gift-card-list" id="brand-filter">
        <span class="filter-btn active" data-brand="Active Deals">Active Monetizers <i class="ri-arrow-right-s-fill"></i></span>
        <span class="filter-btn" data-brand="Tiktok">TikTok Monetization</span>
        <span class="filter-btn" data-brand="Facebook">Facebook Monetization</span>
        <span class="filter-btn" data-brand="Instagram">Instagram Monetization</span>
        <span class="filter-btn" data-brand="Twitter">Twitter Monetization</span>
        <span class="filter-btn" data-brand="Youtube">YouTube Monetization</span>
    </div>



    <div class="offer-list-scroll" id="offer-list">
        <!-- USER 1  -->
        <div class="offer-card" data-brand="Instagram Facebook Twitter">
            <div class="offer-header">
                <div class="profile-img-wrapper">
                    <img src="/images/user4.jpeg" alt="User" class="profile-img">
                    <span class="active-dot"></span>
                </div>
                <div class="user-info">
                    <div class="username">Liam James <span class="verified"><i class="ri-vip-crown-line"></i></span>
                    </div>
                    <div class="grade-info">Trade <strong>934,761</strong> <span class="positive"><i
                                class="ri-thumb-up-fill"></i> +1022</span></div>
                </div>
                <div class="limits">Unlimited</div>
            </div>

            <div class="offer-main">
                <div class="price-info">
                    <div class="price balance">$2.00</div>
                    <div class="rate"><i class="ri-arrow-right-up-fill"></i> 73.02</div>
                    <span class="badge">Bronze VIP</span>
                </div>

                <div class="time">
                    <i class="ri-time-line"></i>
                    <span class="current-time">--:--</span>
                </div>
            </div>

            <div class="coupon">
                <span class="coupon-badge"><i class="ri-ticket-line"></i> Bonus Coupon Upto +10%</span>
                <span class="expiry">Expiring in 7 days</span>
            </div>

            <div class="offer-footer">
                <span class="tag">Automated Online</span>
                <span class="tag">Fast and reliable</span>
                <a href="/mine"><button class="sell-btn">Begin</button></a>
            </div>
        </div>

        <!-- USER 2  -->
        <div class="offer-card" data-brand="Instagram Facebook Youtube">
            <div class="offer-header">
                <div class="profile-img-wrapper">
                    <img src="/images/user1.jpeg" alt="User" class="profile-img">
                    <span class="active-dot"></span>
                </div>
                <div class="user-info">
                    <div class="username">Sophie Lane <span class="verified"><i class="ri-vip-crown-line"></i></span>
                    </div>
                    <div class="grade-info">Trade <strong>128,920</strong> <span class="positive"><i
                                class="ri-thumb-up-fill"></i> +512</span></div>
                </div>
                <div class="limits">Unlimited</div>
            </div>

            <div class="offer-main">
                <div class="price-info">
                    <div class="price balance">$2.00</div>
                    <div class="rate"><i class="ri-arrow-right-up-fill"></i> 73.02</div>
                    <span class="badge">Bronze VIP</span>
                </div>

                <div class="time">
                    <i class="ri-time-line"></i>
                    <span class="current-time">--:--</span>
                </div>
            </div>

            <div class="coupon">
                <span class="coupon-badge"><i class="ri-ticket-line"></i> Bonus Coupon Upto +10%</span>
                <span class="expiry">Expiring in 7 days</span>
            </div>

            <div class="offer-footer">
                <span class="tag">Automated Online</span>
                <span class="tag">Fast and reliable</span>
                <a href="/mine"><button class="sell-btn">Begin</button></a>
            </div>
        </div>

        

        <!-- USER 3 -->
        <div class="offer-card" data-brand="Instagram Facebook Youtube Tiktok">
            <div class="offer-header">
                <div class="profile-img-wrapper">
                    <img src="/images/user10.jpeg" alt="User" class="profile-img">
                    <span class="active-dot"></span>
                </div>
                <div class="user-info">
                    <div class="username">Daniel Thompson <span class="verified"><i
                                class="ri-vip-crown-line"></i></span>
                    </div>
                    <div class="grade-info">Trade <strong>583,635</strong> <span class="positive"><i
                                class="ri-thumb-up-fill"></i> +822</span></div>
                </div>
                <div class="limits">Unlimited</div>
            </div>

            <div class="offer-main">
                <div class="price-info">
                    <div class="price balance">$2.00</div>
                    <div class="rate"><i class="ri-arrow-right-up-fill"></i> 73.02</div>
                    <span class="badge">Bronze VIP</span>
                </div>

                <div class="time">
                    <i class="ri-time-line"></i>
                    <span class="current-time">--:--</span>
                </div>
            </div>

            <div class="coupon">
                <span class="coupon-badge"><i class="ri-ticket-line"></i> Bonus Coupon Upto +10%</span>
                <span class="expiry">Expiring in 7 days</span>
            </div>

            <div class="offer-footer">
                <span class="tag">Automated Online</span>
                <span class="tag">Fast and reliable</span>
                <a href="/mine"><button class="sell-btn">Begin</button></a>
            </div>
        </div>

        <!-- USER 4  -->

        <div class="offer-card" data-brand="Youtube Instagram Facebook Twitter">
            <div class="offer-header">
                <div class="profile-img-wrapper">
                    <img src="/images/user8.jpeg" alt="User" class="profile-img">
                    <span class="active-dot"></span>
                </div>
                <div class="user-info">
                    <div class="username">Victoria Robinson <span class="verified"><i
                                class="ri-vip-crown-line"></i></span>
                    </div>
                    <div class="grade-info">Trade <strong>15,010</strong> <span class="positive"><i
                                class="ri-thumb-up-fill"></i> +622</span></div>
                </div>
                <div class="limits">Unlimited</div>
            </div>

            <div class="offer-main">
                <div class="price-info">
                    <div class="price balance">$2.00</div>
                    <div class="rate"><i class="ri-arrow-right-up-fill"></i> 73.02</div>
                    <span class="badge">Bronze VIP</span>
                </div>

                <div class="time">
                    <i class="ri-time-line"></i>
                    <span class="current-time">--:--</span>
                </div>
            </div>

            <div class="coupon">
                <span class="coupon-badge"><i class="ri-ticket-line"></i> Bonus Coupon Upto +10%</span>
                <span class="expiry">Expiring in 7 days</span>
            </div>

            <div class="offer-footer">
                <span class="tag">Automated Online</span>
                <span class="tag">Fast and reliable</span>
                <a href="/mine"><button class="sell-btn">Begin</button></a>
            </div>
        </div>

        <!-- USER 5  -->
        <div class="offer-card" data-brand="Facebook Youtube Twitter Instagram Tiktik">
            <div class="offer-header">
                <div class="profile-img-wrapper">
                    <img src="/images/user6.jpeg" alt="User" class="profile-img">
                    <span class="active-dot"></span>
                </div>
                <div class="user-info">
                    <div class="username">Samuel Richardson <span class="verified"><i
                                class="ri-vip-crown-line"></i></span>
                    </div>
                    <div class="grade-info">Trade <strong>92,625</strong> <span class="positive"><i
                                class="ri-thumb-up-fill"></i> +222</span></div>
                </div>
                <div class="limits">Unlimited</div>
            </div>

            <div class="offer-main">
                <div class="price-info">
                    <div class="price balance">$2.00</div>
                    <div class="rate"><i class="ri-arrow-right-up-fill"></i> 73.02</div>
                    <span class="badge">Bronze VIP</span>
                </div>

                <div class="time">
                    <i class="ri-time-line"></i>
                    <span class="current-time">--:--</span>
                </div>
            </div>

            <div class="coupon">
                <span class="coupon-badge"><i class="ri-ticket-line"></i> Bonus Coupon Upto +10%</span>
                <span class="expiry">Expiring in 7 days</span>
            </div>

            <div class="offer-footer">
                <span class="tag">Automated Online</span>
                <span class="tag">Fast and reliable</span>
                <a href="/mine"><button class="sell-btn">Begin</button></a>
            </div>
        </div>

        <!-- USER 6  -->
        <div class="offer-card" data-brand="Facebook Twitter">
            <div class="offer-header">
                <div class="profile-img-wrapper">
                    <img src="/images/user5.jpeg" alt="User" class="profile-img">
                    <span class="active-dot"></span>
                </div>
                <div class="user-info">
                    <div class="username">Liam James<span class="verified"><i
                                class="ri-vip-crown-line"></i></span>
                    </div>
                    <div class="grade-info">Trade <strong>938,262</strong> <span class="positive"><i
                                class="ri-thumb-up-fill"></i> +2422</span></div>
                </div>
                <div class="limits">Unlimited</div>
            </div>

            <div class="offer-main">
                <div class="price-info">
                    <div class="price balance">$2.00</div>
                    <div class="rate"><i class="ri-arrow-right-up-fill"></i> 73.02</div>
                    <span class="badge">Bronze VIP</span>
                </div>

                <div class="time">
                    <i class="ri-time-line"></i>
                    <span class="current-time">--:--</span>
                </div>
            </div>

            <div class="coupon">
                <span class="coupon-badge"><i class="ri-ticket-line"></i> Bonus Coupon Upto +10%</span>
                <span class="expiry">Expiring in 7 days</span>
            </div>

            <div class="offer-footer">
                <span class="tag">Automated Online</span>
                <span class="tag">Fast and reliable</span>
                <a href="/mine"><button class="sell-btn">Begin</button></a>
            </div>
        </div>

        <!-- USER 7  -->
        <div class="offer-card"
            data-brand="Tiktok Instagram Facebook Twitter">
            <div class="offer-header">
                <div class="profile-img-wrapper">
                    <img src="/images/user3.jpeg" alt="User" class="profile-img">
                    <span class="active-dot"></span>
                </div>
                <div class="user-info">
                    <div class="username">Chloe Bennett <span class="verified"><i
                                class="ri-vip-crown-line"></i></span>
                    </div>
                    <div class="grade-info">Trade <strong>35,647</strong> <span class="positive"><i
                                class="ri-thumb-up-fill"></i> +420</span></div>
                </div>
                <div class="limits">Unlimited</div>
            </div>

            <div class="offer-main">
                <div class="price-info">
                    <div class="price balance">$2.00</div>
                    <div class="rate"><i class="ri-arrow-right-up-fill"></i> 73.02</div>
                    <span class="badge">Bronze VIP</span>
                </div>

                <div class="time">
                    <i class="ri-time-line"></i>
                    <span class="current-time">--:--</span>
                </div>
            </div>

            <div class="coupon">
                <span class="coupon-badge"><i class="ri-ticket-line"></i> Bonus Coupon Upto +10%</span>
                <span class="expiry">Expiring in 7 days</span>
            </div>

            <div class="offer-footer">
                <span class="tag">Automated Online</span>
                <span class="tag">Fast and reliable</span>
                <a href="/mine"><button class="sell-btn">Begin</button></a>
            </div>
        </div>

        <!-- USER 8  -->
        <div class="offer-card" data-brand="Facebook Twitter Youtube Instagram Tiktik">
            <div class="offer-header">
                <div class="profile-img-wrapper">
                    <img src="/images/user9.jpeg" alt="User" class="profile-img">
                    <span class="active-dot"></span>
                </div>
                <div class="user-info">
                    <div class="username">Christopher Foster <span class="verified"><i
                                class="ri-vip-crown-line"></i></span>
                    </div>
                    <div class="grade-info">Trade <strong>16,368</strong> <span class="positive"><i
                                class="ri-thumb-up-fill"></i> +322</span></div>
                </div>
                <div class="limits">Unlimited</div>
            </div>

            <div class="offer-main">
                <div class="price-info">
                    <div class="price balance">$2.00</div>
                    <div class="rate"><i class="ri-arrow-right-up-fill"></i> 73.02</div>
                    <span class="badge">Bronze VIP</span>
                </div>

                <div class="time">
                    <i class="ri-time-line"></i>
                    <span class="current-time">--:--</span>
                </div>
            </div>

            <div class="coupon">
                <span class="coupon-badge"><i class="ri-ticket-line"></i> Bonus Coupon Upto +10%</span>
                <span class="expiry">Expiring in 7 days</span>
            </div>

            <div class="offer-footer">
                <span class="tag">Automated Online</span>
                <span class="tag">Fast and reliable</span>
                <a href="/mine"><button class="sell-btn">Begin</button></a>
            </div>
        </div>

        <!-- USER 9  -->
        <div class="offer-card"
            data-brand="Tiktok Instagram Facebook Twitter">
            <div class="offer-header">
                <div class="profile-img-wrapper">
                    <img src="/images/user7.jpeg" alt="User" class="profile-img">
                    <span class="active-dot"></span>
                </div>
                <div class="user-info">
                    <div class="username">Morgan Foster <span class="verified"><i class="ri-vip-crown-line"></i></span>
                    </div>
                    <div class="grade-info">Trade <strong>118,376</strong> <span class="positive"><i
                                class="ri-thumb-up-fill"></i> +765</span></div>
                </div>
                <div class="limits">Unlimited</div>
            </div>

            <div class="offer-main">
                <div class="price-info">
                    <div class="price balance">$2.00</div>
                    <div class="rate"><i class="ri-arrow-right-up-fill"></i> 73.02</div>
                    <span class="badge">Bronze VIP</span>
                </div>

                <div class="time">
                    <i class="ri-time-line"></i>
                    <span class="current-time">--:--</span>
                </div>
            </div>

            <div class="coupon">
                <span class="coupon-badge"><i class="ri-ticket-line"></i> Bonus Coupon Upto +10%</span>
                <span class="expiry">Expiring in 7 days</span>
            </div>

            <div class="offer-footer">
                <span class="tag">Automated Online</span>
                <span class="tag">Fast and reliable</span>
                <a href="/mine"><button class="sell-btn">Begin</button></a>
            </div>
        </div>

        <!-- USER 10  -->
        <div class="offer-card"
            data-brand="Tiktok Instagram Facebook Twitter Youtube">
            <div class="offer-header">
                <div class="profile-img-wrapper">
                    <img src="/images/user2.jpeg" alt="User" class="profile-img">
                    <span class="active-dot"></span>
                </div>
                <div class="user-info">
                    <div class="username">Riley Cooper <span class="verified"><i class="ri-vip-crown-line"></i></span>
                    </div>
                    <div class="grade-info">Trade <strong>506,482</strong> <span class="positive"><i
                                class="ri-thumb-up-fill"></i> +3302</span></div>
                </div>
                <div class="limits">Unlimited</div>
            </div>

            <div class="offer-main">
                <div class="price-info">
                    <div class="price balance">$2.00</div>
                    <div class="rate"><i class="ri-arrow-right-up-fill"></i> 73.02</div>
                    <span class="badge">Bronze VIP</span>
                </div>

                <div class="time">
                    <i class="ri-time-line"></i>
                    <span class="current-time">--:--</span>
                </div>
            </div>

            <div class="coupon">
                <span class="coupon-badge"><i class="ri-ticket-line"></i> Bonus Coupon Upto +10%</span>
                <span class="expiry">Expiring in 7 days</span>
            </div>

            <div class="offer-footer">
                <span class="tag">Automated Online</span>
                <span class="tag">Fast and reliable</span>
                <a href="/mine"><button class="sell-btn">Begin</button></a>
            </div>
        </div>


    </div>
</div>