<!-- DRAGABLE IMAGE -->
<div class="draggable-image">
    <!-- <span class="close-btn"><i class="ri-close-fill"></i></span> -->
    <a href="/select-card"><img src="/images/sell1.png" alt="Draggable" class="zoom-image"/></a>
</div>


<!-- BOT ICON  -->
<!-- <div class="fixed-icon">
    <i class="ri-chat-1-line"></i> 
</div> -->