<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>monile only</title>
  <meta name="theme-color" content="#101010">
  <link rel="icon" href="/images/favicon.jpeg" type="image/png">
  <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="/css/mobile-only.css">
</head>

<body>
  <!-- BACKGROUND BLUR -->
  <span class="bg__blur"></span>

  <div class="container">
        <img src="/images/logo.png" alt="">


    <h1>Mobile Optimized Experience 📱</h1>
    <p>
      This section of our platform is designed specifically for mobile devices<br>
      to give you the best user experience on the go.
      Please switch to your phone or a smaller screen to continue.
    </p>

      <button class="installBtn btn join__now install" style="display: none;">Install App</button>
  </div>
  <!-- BACKGROUND BLUR -->
  <span class="footer__blur"></span>



  <!-- FOR MY MANIFEST  -->
  <script src="/js/scripts.js"></script>
</body>

</html>