* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary-color: #0d0d0d;
    --primary-color-light: #111;
    --primary-color-extra-light: #1a1a1a;
    --secondary-color: #e5c765;
    --secondary-color-dark: #c5a057;
    --text-light: #cecece;
    --white: #ffffff;
    --max-width: 1300px;
  }



body {
    font-family: 'Arial', sans-serif;
    background: var(--primary-color);
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 30px;
    font-size: 40px;
    color: #ccc;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: var(--primary-color-extra-light);
    /* border-right: 0.10px solid var(--secondary-color-dark); */
    padding: 0 20px;
    transition: width 0.3s ease;
    z-index: 1000;
    overflow: hidden;
}

.contain-hamburger {
    display: none;
}

.menu-container {
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.menu {
    list-style: none;
    padding-bottom: 20px;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-top: 5rem;
    width: 100%;
}

.menu a {
    padding: 5px 0;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    list-style: none;
    border-radius: 5px;
    text-decoration: none;
    color: var(--white);
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    width: 70%;
    transition: color 0.5s ease;
}

.menu a:hover {
    color: var(--secondary-color);
}

.menu a.active {
    color: var(--white);
    background: var(--background-gradient);
    padding: 7px 0;
    display: flex;
    border: none;
    justify-content: center;
    text-align: center;
}

.menu a.active:hover {
    background: var(--secondary-color);
}

.menu a i {
    font-size: 19px;
}

/* <!-- SIDEBAR DROPDOWN --> */
.setting-item {
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    font-family: 'Segoe UI', sans-serif;
    color: var(--text-color, #e0e0e0);
}

.setting-item label {
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: var(--text-light);
    margin-left: 4px;
}

.currency-selector {
    background: var(--primary-color-light);
    color: var(--white);
    border: 1px solid var(--text-light);
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 0.95rem;
    outline: none;
    border-left: 5px solid var(--secondary-color);
    border-right: 5px solid var(--secondary-color);
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.currency-selector:hover {
    border-color: var(--secondary-color);
    box-shadow: 0 0 4px var(--secondary-color);
}

.currency-selector:focus {
    border-color: var(--secondary-color);
    box-shadow: 0 0 4px var(--secondary-color);
}







/* Sidebar hidden state */
.sidebar.closed {
    transform: translateX(-100%);
    transition: transform 0.5s ease;
}

.toggle-sidebar {
    position: fixed;
    top: 1rem;
    left: 250px;
    padding: 10px 5px;
    cursor: pointer;
    transition: left 0.5s ease;
}

.sidebar {
    transform: translateX(0);
    transition: transform 0.5s ease;
}

/* Sidebar hidden state */
.sidebar.closed {
    transform: translateX(-100%);
}

.toggle-sidebar i {
    color: var(--white);
    font-size: 20px;
}

.container.sidebar-closed .toggle-sidebar {
    left: 20px;
}

.container.sidebar-closed .main-content {
    margin-left: 20px;
}

/* Sars */
/* Wrapper for the button */
data {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Fixed position for the button */
.sars {
    position: fixed;
    bottom: 50px;
}

/* Button styles */
.sars button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-light);
    padding: 5px 20px;
    font-size: 13px;
    font-weight: 550;
    border: none;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    outline: none;
    z-index: 1;
    transition: all 0.4s ease-in-out;
}

.sars i {
    font-size: 20px;
    padding-right: 10px;
}

.sars a {
    text-decoration: none;
}

.sars button:hover {
    transform: scale(1.1);
    opacity: 0.85;
}

/* Animated colorful border */
.sars button::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 30px;
    background: linear-gradient(90deg, #070f18, #133857, #0d1d2e, #1f3786, #151a2b);
    background-size: 300% 300%;
    z-index: -1;
    animation: border-move 5s infinite ease-in-out;
}

/* Keyframe for the moving border */
@keyframes border-move {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}









/* Main Content */
.small-screen-nav {
    display: none;
}


.main-content {
    flex-grow: 1;
    padding: 10px;
    margin-left: 250px;
    transition: margin-left 0.2s ease;
    height: 100vh;
}

.header1 {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 5px;
}

.profile-summary {
    padding: 0 10px;
    display: flex;
    align-items: center;
    gap: 0.50rem;
    color: #fff;
    margin-left: 2rem;
}

.profile-img-wrapper {
    position: relative;
    width: 50px;
    height: 50px;
}

.profile-initials {
    width: 90%;
    height: 90%;
    background-color: var(--secondary-color-dark);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.profile-summary h2 {
    font-weight: 500;
    color: var(--text-light);
    font-size: 13px;
    font-weight: bolder;
    text-transform: uppercase;
}

.profile-summary p {
    color: var(--text-light);
    font-weight: bolder;
    font-size: 11px;
}

/* BACKGROUND BLUR */
.bg__blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px var(--secondary-color);
    z-index: -1;
    position: fixed;
}

.footer__blur {
    bottom: 7rem;
    right: 0;
}

/*SPACE IMAGE*/
.centered-content {
    text-align: center;
    padding: 30px 0px;
    margin-top: 0.50rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/images/download1.jpg');
    border-radius: 10px;
}

.centered-content h2 {
    font-size: 1.10rem;
    margin: 0 0 5px;
    color: var(--white);
}

.centered-content p {
    color: var(--white);
    font-size: 0.80rem;
}


/* CONTENTS */
.contents {
    display: flex;
    gap: 3rem;
    padding: 1rem 0;
    width: 100%;
}

.cap {
    margin-top: 1rem;
    /* display: none; */
    font-size: 14px;
    color: var(--text-light);
}








/* DRAGABLE IMAGE  */
.draggable-image {
    position: fixed;
    top: 70%;
    right: 10px;
    transform: translate(0, -50%);
    z-index: 1000;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
}

.draggable-image img {
    max-width: 120px;
    border-radius: 10px;
    user-select: none;
}

.zoom-image {
    width: 100%;
    max-width: 300px;
    transition: transform 0.5s ease;
    animation: zoomInOut 2s ease-in-out infinite;
    border-radius: 12px;
}

.zoom-image:hover {
    transform: scale(1.12);
}

@keyframes zoomInOut {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}







@media (max-width: 800px) {

    /* Small Screen Navigation */
    .small-screen-nav {
        font-family: 'Luckiest Guy', cursive;
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #121212;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding: 6px 0;
        box-shadow: 0 0 15px #000;
        z-index: 1000;
        backdrop-filter: blur(10px);
    }

    .link-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .nav-link {
        color: var(--text-light);
        font-size: 15px;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        transition: all 0.3s ease;
        padding: 8px 12px;
        border-radius: 12px;
        position: relative;

    }

    .nav-link i {
        color: #aaa;
        font-size: 22px;
        transition: 0.3s;
    }

    .nav-link p {
        font-size: 10px;
        font-weight: 500;
        color: #aaa;
        margin: 0;
        letter-spacing: 0.5px;
    }

    .nav-link:hover {
        background: rgba(255, 255, 255, 0.08);
        transform: translateY(-2px);
    }

    .nav-link:hover i {
        color: var(--secondary-color-dark);
    }

    .nav-link.active {
        background: rgba(255, 255, 255, 0.05);
        transform: none;
    }

    .nav-link.active i {
        background: var(--secondary-color-dark);
        color: var(--white);
        padding: 8px;
        border-radius: 50%;
        /* box-shadow: 0 4px 12px rgba(186, 190, 253, 0.4); */
        animation: bounceActive 0.4s ease forwards;
    }

    .nav-link.active p {
        color: var(--white);
    }

    @keyframes bounceActive {
        0% {
            transform: scale(0.9);
        }

        50% {
            transform: scale(1.25);
        }

        100% {
            transform: scale(1.1);
        }
    }



    /* MAIN SIDE BAR SLIDE OUT  */
    .profile-summary {
        padding: 0px;
        margin-left: 0rem;
    }

    .contain-hamburger {
        width: 100%;
        padding: 10px;
        top: 0;
        margin: 0px;
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-size: cover;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    .contain-hamburger .me {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    /* Profile picture adjustments */
    .profile-pic {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid var(--white);
    }

    .profile-initials {
        font-size: 0.90rem;
    }


    .profile-summary h2 {
        color: var(--white);
    }

    .hamburger {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        color: var(--white);
        padding: 8px;
        border-radius: 50%;
    }

    .hamburger i {
        font-size: 20px;
        color: #fff;
    }

    .notification-badge {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 11px;
        height: 11px;
        padding: 0 5px;
        background-color: #ff5c5c;
        color: white;
        font-size: 8px;
        font-weight: bold;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: zoomPulse 1.2s infinite ease-in-out;
        box-shadow: 0 0 5px rgba(255, 92, 92, 0.7);
    }

    @keyframes zoomPulse {

        0%,
        100% {
            transform: scale(1);
            opacity: 1;
        }

        50% {
            transform: scale(1.2);
            opacity: 0.85;
        }
    }




    .sidebar {
        display: none;
    }

    /* Arrow to toggle sidebar */
    .toggle-sidebar {
        display: none;
    }



    /* Main Content */
    .main-content {
        margin-left: 0px;
        width: 100%;
        padding-top: 0;

    }

    .header1 {
        display: none;
    }

    .centered-content {
        margin-top: 1rem;
        border-radius: 10px;
    }

    .centered-content h2 {
        font-size: 0.90rem;
        color: var(--white);
    }

    .centered-content p {
        font-size: 0.70rem;
        font-weight: bolder;
        color: var(--white);
    }


    .draggable-image img {
        max-width: 110px;
    }

    .draggable-image {
        top: 80%;
        right: 0px;
    }

    /* 
    .close-btn {
        top: 5px;
        right: 1px;
        width: 17px;
        height: 17px;
        font-size: 16px;
        background: rgb(240, 100, 100);
    } */



    /* CONTENTS */
    .contents {
        display: flex;
        margin-top: 0rem;
        flex-direction: column;
        width: 100%;
        gap: 1.50rem;
    }

    .cap {
        margin-top: 10px;
        display: block;
        color: var(--text-light);
        font-size: 14px;
    }
}