* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0d0d0d;
    --primary-color-light: #111;
    --primary-color-extra-light: #1a1a1a;
    --secondary-color: #e5c765;
    --secondary-color-dark: #c5a057;
    --text-light: #cecece;
    --white: #ffffff;
    --max-width: 1300px;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--primary-color);
    color: var(--white);
    width: 100%;
}


  /* Animated colorful border */
  body::before {
    content: "";
    position: fixed;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    background: linear-gradient(90deg, #000000, #403a2b, #000000, #403a2b, #000000, #403a2b, #000000,#403a2b, #000000);
    /* background: linear-gradient(90deg, #070f18, #133857, #0d1d2e, #1f3786, #151a2b); */
    background-size: 300% 300%;
    z-index: -1;
    animation: border-move 5s infinite ease-in-out;
}
/* Keyframe for the moving border */
@keyframes border-move {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



/* BLUR EFFECT */
.bg__blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px var(--secondary-color);
    z-index: -1;
    top: 0;
    left: 0;
    position: fixed;
}

.footer__blur {
    position: fixed;
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 1000px 50px var(--secondary-color);
    bottom: 0;
    right: 0;
}

.monetize{
    padding: 5px 0;
}

.back {
    z-index: 1000;
    font-size: 20px;
    color: var(--white);
    text-decoration: none;
    margin-top: 10px;
    cursor: pointer;
}



/* TABLE CONTANTS  */
.social-plan {
  color: var(--white);
  font-size: 16px;
  margin: 10px 0;
  margin-top: 30px;
  text-align: center;
}

.table-scroll-wrapper {
    overflow-x: auto;
    width: 100%;
    margin-bottom: 1rem;
  }

  
  .table-container {
    min-width: 1000px;
    width: max-content;
  }
  
  .table-scroll-wrapper::-webkit-scrollbar {
    height: 4px;
  }
  
  .table-scroll-wrapper::-webkit-scrollbar-track {
    background: #f2f2f2;
    border-radius: 20px;
  }
  
  .table-scroll-wrapper::-webkit-scrollbar-thumb {
    background: #c5a057;
    border-radius: 20px;
  }
  
  .table-scroll-wrapper {
    scrollbar-width: thin;
    scrollbar-color: #c5a057 #f2f2f2;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    border-radius: 10px;
  }
  
  th, td {
    border: 1px solid var(--secondary-color-dark);
    padding: 10px;
    white-space: nowrap;
  }
  
  th, .td {
    background-color: var(--primary-color-extra-light);
  }



/* DYNAMIC CONTENT  */
#monetizeContent{
    text-align: center;
    padding: 20px 0;
}



/* ABOUT FOLLOWERS  */
.follow-plan {
  text-align: center;
  color: var(--white);
  font-size: 16px;
  margin-top: 30px;
}

.followers .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.followers .step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.followers .circle {
  color: var(--white);
  font-size: 4.60rem;
  font-family: 'Luckiest Guy', cursive;
  text-shadow: 7px 7px var(--secondary-color-dark);
}

.followers .step h2 {
  text-shadow: 7px 7px var(--secondary-color-dark);
  font-family: 'Luckiest Guy', cursive;
  color: var(--white);
  font-size: 3.10rem;
}





/* Base button styling */
.connect-button {
    position: relative;
    background-color: var(--secondary-color-dark);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
  }
  
  .connect-button:hover {
    background-color: var(--secondary-color);
  }
  
  /* Loading state styling */
  .connect-button.loading {
    cursor: not-allowed;
    opacity: 0.7;
  }
  
  .connect-button.loading::before {
    content: "";
    position: absolute;
    top: 40%;
    width: 20px;
    height: 20px;
    margin-top: -8px;
    text-align: center;
    border: 3px solid var(--white);
    border-top: 3px solid var(--secondary-color);
    border-radius: 50%;
    animation: spin 0.50s linear infinite;
  }
  
  @keyframes spin {
    to { transform: rotate(360deg); }
  }
  
  .connect-button.not-paid {
    background-color: #d32f2f;
    color: white;
  }
  
  .connect-button .button-text {
    visibility: visible;
  }
  
  .connect-button.loading .button-text {
    visibility: hidden;
  }
  


  /* PURCHASE BUTTON */
.btn-contain{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

  .purchase{
    background-color: #367d38;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    min-width: 150px;
  }
  
  .purchase:hover {
    background-color: #57b95a;
  }


.disconnect{
  background-color: #d74747;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  min-width: 150px;
}


.disconnect:hover {
  background-color: #c64040;
}
